/*
Webfont: LatoLatin
Downloaded from http://www.latofonts.com/
*/

/* Lato Regular */
@font-face {
  font-family: "Lato";
  src: url("LatoLatin-Regular.eot");
  src: url("LatoLatin-Regular.eot?#iefix") format("embedded-opentype"),
    url("LatoLatin-Regular.woff2") format("woff2"), url("LatoLatin-Regular.woff") format("woff"),
    url("LatoLatin-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* Lato Italic */
@font-face {
  font-family: "Lato";
  src: url("LatoLatin-Italic.eot");
  src: url("LatoLatin-Italic.eot?#iefix") format("embedded-opentype"),
    url("LatoLatin-Italic.woff2") format("woff2"), url("LatoLatin-Italic.woff") format("woff"),
    url("LatoLatin-Italic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* Lato Medium 500 */
@font-face {
  font-family: "Lato";
  src: url("LatoLatin-Medium.eot");
  src: url("LatoLatin-Medium.eot?#iefix") format("embedded-opentype"),
    url("LatoLatin-Medium.woff2") format("woff2"), url("LatoLatin-Medium.woff") format("woff"),
    url("LatoLatin-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
  text-rendering: optimizeLegibility;
}

/* Lato Medium 500 Italic */
@font-face {
  font-family: "Lato";
  src: url("LatoLatin-MediumItalic.eot");
  src: url("LatoLatin-MediumItalic.eot?#iefix") format("embedded-opentype"),
    url("LatoLatin-MediumItalic.woff2") format("woff2"),
    url("LatoLatin-MediumItalic.woff") format("woff"),
    url("LatoLatin-MediumItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 500;
  text-rendering: optimizeLegibility;
}

/* Lato Bold 700 */
@font-face {
  font-family: "Lato";
  src: url("LatoLatin-Bold.eot");
  src: url("LatoLatin-Bold.eot?#iefix") format("embedded-opentype"),
    url("LatoLatin-Bold.woff2") format("woff2"), url("LatoLatin-Bold.woff") format("woff"),
    url("LatoLatin-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}

/* Lato Bold 700 Italic */
@font-face {
  font-family: "Lato";
  src: url("LatoLatin-BoldItalic.eot");
  src: url("LatoLatin-BoldItalic.eot?#iefix") format("embedded-opentype"),
    url("LatoLatin-BoldItalic.woff2") format("woff2"),
    url("LatoLatin-BoldItalic.woff") format("woff"),
    url("LatoLatin-BoldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}

/* Lato Heavy 800 */
@font-face {
  font-family: "Lato";
  src: url("LatoLatin-Heavy.eot");
  src: url("LatoLatin-Heavy.eot?#iefix") format("embedded-opentype"),
    url("LatoLatin-Heavy.woff2") format("woff2"), url("LatoLatin-Heavy.woff") format("woff"),
    url("LatoLatin-Heavy.ttf") format("truetype");
  font-style: normal;
  font-weight: 800;
  text-rendering: optimizeLegibility;
}

/* Lato Heavy 800 Italic */
@font-face {
  font-family: "Lato";
  src: url("LatoLatin-HeavyItalic.eot");
  src: url("LatoLatin-HeavyItalic.eot?#iefix") format("embedded-opentype"),
    url("LatoLatin-HeavyItalic.woff2") format("woff2"),
    url("LatoLatin-HeavyItalic.woff") format("woff"),
    url("LatoLatin-HeavyItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 800;
  text-rendering: optimizeLegibility;
}
